streamlit
spacy
en-core-web-lg==3.7.1
nltk
pypdf2
pdfplumber
python-docx
openai
pandas
plotly
reportlab
python-dotenv
jsonpickle
deep-translator
streamlit
spacy>=3.7.0
nltk
pypdf2
pdfplumber
python-docx
openai
pandas
plotly
reportlab
python-dotenv
jsonpickle
deep-translator
